/********************************************************************************
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 ********************************************************************************/
.heading {
  margin: 8px 0px 16px 0px;
  font-weight: bold;
}

.grid-failure-grid-wrapper {
  margin: 10px;
}

.section {
  padding: 10px;
  margin: 25px 0px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.section:first-child {
  margin: 5px 0px 25px 0px;
}

button {
  height: 34px;
  padding: 1px 10px;
  margin: 0px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.button {
  margin: 0px 5px;
}

button.btn-outline-danger.delete {
  border: 3px solid #990000;
}

.right-button {
  margin: 0px 15px 0px 5px;
}

.version-select {
  width: auto;
  margin: 8px;
}

.isDisabled {
  background-color: rgb(233, 236, 239);
}

.expandable-content {
  position: relative;
  padding: 20px 35px 20px 35px;
}

.nav {
  width: 100%;
  padding-bottom: 30px;
  justify-content: center;
}

.fault-location-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.diverse-btn-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  * {
    margin: 10px 0px 5px 5px;
  }
}

.subcontainer1 {
  display: flex;
  justify-content: center;
}

.subcontainer2 {
  display: flex;
  justify-content: flex-end;
}

.card {
  height: calc(100vh - 180px);
}

.map-detail-view {
  position: relative;
  flex-grow: 2;
  min-width: 300px;
  height: 430px;
}

.NS-fields,
.MS-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 480px;
}

.non-outline {
  box-shadow: none !important;
}

.form-group:last-child {
  margin-bottom: 10px;
}
.channel-input {
  margin-left: 12px;
}
.disabledButton {
  background-color: #337ab7;
  cursor: default;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.stationList {
  width: 378px;
  height: 378px;
}
.readOnly {
  border: 1px solid;
  padding: 15px 30px;
  width: -webkit-fill-available;
  margin: 0px 42px 0px 0px;
  color: grey;
}
