<!-- /********************************************************************************
* Copyright (c) 2020 Contributors to the Eclipse Foundation
*
* See the NOTICE file(s) distributed with this work for additional
* information regarding copyright ownership.
*
* This program and the accompanying materials are made available under the
* terms of the Eclipse Public License v. 2.0 which is available at
* http://www.eclipse.org/legal/epl-2.0.
*
* SPDX-License-Identifier: EPL-2.0
********************************************************************************/ -->

<div class="logout-outer">
  <div class="logout-inner">
    <img src="assets/images/logo_openkonsequenz.png" alt="openkonsequenz-logo" />
    <div>
      <h2>{{ 'Logout.Loggedout' | translate }}</h2>
      <h4>{{ 'Logout.PortalNewLogin' | translate }}</h4>
      <button #tabCloseBtn style="margin-top: 10%" type="button" class="btn btn-primary" onclick="window.close()">{{ 'Logout.CloseTab' | translate }}</button>
    </div>
  </div>
</div>
